.target/
.logs/
*/logs/
*/*/logs/
*/target/

# maven ignore
target/
*.war
*.zip
*.tar
*.tar.gz

# eclipse ignore
.settings/
.project
.classpath

# idea ignore
.idea/
*.ipr
*.iml
*.iws

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp

# system ignore
.DS_Store
Thumbs.db
logs/
bin/
Status API Training Shop Blog About
© 2016 GitHub, Inc. Terms Privacy Security Contact Help
